extends base

block vars
  - var title = "Login" //jshint ignore:line

block body
  h1 Log Into Your Account
  form(method="post")
    input(type="hidden", name="_csrf", value=csrfToken)
    span Email:
    input(type="text", name="email", required=true)
    br
    span Password:
    input(type="text", name="password", required=true)
    br
    input(type="submit")

  if error
    p ERROR: #{error}